---
import Main from '../../layouts/Main.astro';

import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const recipes = await getCollection('recipes');
  return recipes.map(recipe => ({
    params: { slug: recipe.slug}, props: { recipe },
  }));
}

const { recipe } = Astro.props;
---

<Main title={recipe.data.name}>
  <div class="bg-med-champagne font-montserrat p-5 max-w-md mx-auto rounded-lg shadow-md">
    <h1 class="font-tenorsans mb-3 text-2xl">{recipe.data.name}</h1>
    <p class="mb-5">{recipe.data.description}</p>
    <h3 class="text-lg mb-3">Ingredients</h3>
    <ul class="list-decimal pl-6 mb-5">
      {recipe.data.ingredients.map(ingredient => 
        <li class="mb-1">{ingredient}</li>)}
    </ul>
    <h3 class="text-lg mb-3">Instructions</h3>
    <ol class="list-decimal pl-6">
    {recipe.data.instructions.map(instruction => 
      <li class="mb-1">{instruction}</li>)
    </ol>
  </div>
</Main>
