---
import Main from '../../layouts/Main.astro';
import logo from '../../images/todds-bistro-small-logo.png'
import { Image } from '@astrojs/image/components';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const recipes = await getCollection('recipes');
  return recipes.map(recipe => ({
    params: { slug: recipe.slug}, props: { recipe },
  }));
}

const { recipe } = Astro.props;
---

<Main title={"Todd's Bistro - " + recipe.data.name}>
  <div id={recipe.slug} class="bg-med-champagne 
    font-montserrat p-5 rounded-lg shadow-md">
    <div class="text-right">
      <a class="text-outer-space transition-colors duration-500 hover:text-gold" href={import.meta.env.BASE_URL}>
        <i class="bi bi-house-door-fill text-xl 
          lg:text-2xl"></i>
      </a>
    </div>
    <Image src={logo} class="w-32 mb-5 lg:w-1/3 lg:m-auto" 
    alt="Site Logo" />
    <h1 class="font-tenorsans mb-3 text-2xl">{recipe.data.name}</h1>
    <p class="mb-5">{recipe.data.description}</p>
    <h3 class="text-lg mb-3">Ingredients</h3>
    <ul class="list-decimal pl-6 mb-5">
      {recipe.data.ingredients.map(ingredient => 
        <li class="mb-1">{ingredient}</li>)}
    </ul>
    <h3 class="text-lg mb-3">Instructions</h3>
    <ol class="list-decimal pl-6">
    {recipe.data.instructions.map(instruction => 
      <li class="mb-1">{instruction}</li>)
    </ol>
  </div>
</Main>
